body {
    margin: 100px 10px 20px 30px;
    background: white;
}

p {
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    background-color: white;
}

iframe {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: whitesmoke;
    position: relative;
    height: 100%;
    overflow: auto;
    font-size: 20px;
    text-align: center;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #069661;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

ol {
    list-style-type: none;
    font-size: 25px;
}

.container {

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    font-size: 25px;
}

.menu {
    flex: 0 1 auto;
    align-self: auto;
}

.content {
    padding-left: 10px;
    flex: 1 1 auto;
    align-self: auto;
}

.logo {
    height: 200px;
    display: block;
    margin: 0 auto;
}