body {
    margin: 2rem;
    background: white;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 200;
}

header {
    padding: 4rem 0;
}

h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    margin: 0 0 1rem 0;
    background-color: white;
}

a,
a:visited {
    color: #069661;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 4rem;
}

label {
    display: block;
}

input, 
textarea {
    display: block;
    margin-bottom: 1rem;
    padding: .25rem;
    font-size: .75rem;
    border: 1px solid #868686;
}

button {
    padding: .25rem 1rem;
    font-size: .75rem;
    border: 1px solid #868686;
    background: white;
}

button:hover {
    background: whitesmoke;
}

button:active {
    color: black;
}

iframe {
    width: 100%;
    height: 7rem;
    margin-bottom: 1rem;
}

audio {
    display: block;
    width: 100%;
    height: 4rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

nav {
    flex: 0 1 auto;
    align-self: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12rem;
    background-color: whitesmoke;
    position: relative;
    height: 100%;
    overflow: auto;
    text-align: center;
}

nav ul li a {
    display: block;
    color: #000;
    padding: .5rem 1rem;
    text-decoration: none;
}

nav ul li a.active {
    background-color: #069661;
    color: white;
}

nav ul li a:hover:not(.active) {
    background-color: rgb(121, 121, 121);
    color: white;
}

.content {
    padding-left: 2rem;
    flex: 1 1 auto;
}

.logo {
    height: 8rem;
    display: block;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .container {
        display: block;
    }

    nav {
        width: 100%;
        margin-bottom: 4rem;
    }

    nav ul {
        width: 100%;
    }
    
    nav ul li {
        display: inline;
    }

    .content {
        padding-left: 0;
    }
}